validators/state.json
template/__pycache__/
__pycache__/
*.pyc
state.json
wandb/
.vscode
.envrc
.idea/
.ipynb_checkpoints/
.venv/
validators/.ipynb_checkpoints/
**/validator.ipynb
**/.env
**/test.ipynb
.env
**/server/**/*.py
cache.db